.calculator {
  padding: 32px;
  max-width: 564px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-small);
  background-color: var(--color-white);

  &__heading {
    margin-bottom: 32px;
    color: var(--color-gray);

    @include mobile {
      margin-bottom: 24px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__radios {
    display: flex;
    justify-content: space-between;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    gap: 24px;

    @include mobile {
      flex-direction: column;
      grid-template-columns: 1fr;
    }

    &--imperial {
      @include mobile {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__result {
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 32px;
    text-align: left;
    border-radius: 16px 99px 99px 16px;
    font-size: 14px;
    line-height: 150%;
    font-weight: 300;

    &-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;

      @include mobile {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &-body {
      min-width: 206px;
      display: flex;
      flex-direction: column;
      align-items: space-between;
    }

    &-value-header {
      font-size: 16px;
      font-weight: 600;
    }

    &-value {
      font-size: 64px;
      line-height: 110%;
      font-weight: 700;

      @include mobile {
        font-size: 48px;
        letter-spacing: -0.05%;
      }
    }

    &-description {
      font-size: 14px;
    }

    @include mobile {
      padding: 24px;
      border-radius: 16px;
    }

    &-heading {
      font-size: 24px;
      margin-bottom: 16px;
    }
  }
}
